body {
    margin: 0;
    background-color: #F2F4FC;
    font-family: Roboto, sans-serif;
    
    
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1320px;
}

.options {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    font-size: 17px;
}

.nav {
    display: flex;
    gap: 35px;
    font-weight: bold;
  }


.circle-logo {
  display: flex;
  width: 50px;
  height: 20px;
  align-self: center;
}



  .container a {
    display: flex;
    text-decoration: none;
    align-items: center;  
    justify-content: center;
  }

  .contact-btn {
    border:none
  }

  .contact-btn a{
    background-color: #072AC8;
    color: white;
    padding: 15px 25px 15px 25px;
    font-size: 17px;
    
  }

  .contact-btn a {
    color:white
  }

  .contact-btn a:hover {
    background-color: #323532; 
    color: white;
  }


  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    
  }

  .card-btn {
    margin-top: 15px;
    justify-content: flex-start;
    align-items: center;
    display: flex; 
  }

.card-btn-1 {
    color: #6b708d;
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    
  
}

.card-btn-2 {
    background-color: #072AC8;
    color: white;
    font-size: 17px;
    padding: 15px 30px 15px 30px;
    
     
}


  .card-hero {
    display: flex;
    justify-content: center;
    position: relative;
  }


    .image1 {
    max-width: 500px;
    }

   

    .image3 {
    position: absolute;
    z-index: 1;
    left: -19%;
    top: -5%;
    right: auto;
    bottom: auto;
    max-width: 350px;
    }
    
    .image4 {
    position: absolute;
    z-index: 1;
    left: auto;
    top: auto;
    right: -22%;
    bottom: -35%;
    max-width: 350px;
    }



.card {
    display: flex;
    flex-direction: column;
}

.card h1{
    font-size: 60px;
}

.card span{
    font-size: 20px;
    max-width: 435px;
}





.grid-container-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 150px;
  align-items: center;
  justify-items: center;
  margin-left: 80px;
  margin-right: 80px;

}


.projects-title {
  margin-top: 200px;
  margin-left: 80px;
}


.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
 
  
}
.grid-projects h2 {
margin-left: 30px;
}

.grid-projects p {
  margin-left: 30px;
  margin-bottom: 45px;
  font-size: 17px;
  }

  .grid-projects span {
    font-weight: bold;
    color: #072AC8;
    margin-left: 30px;
   
    }

    .projects span {
      margin-right: auto;
    }
    


.projects img {
  width: 100%;
  max-height: 240px;
  justify-items: center;
  object-fit: cover;
}

.projects {
  background-color: white;
  height: 420px;
}


.grid-clients {
  background-color: #292E47;
  background-image: url(images/orbit.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 220px;
  height: 620px;
  position: relative;
}



.grid-clients h1{
  color:white;
}

  
.grid-clients h2 {
  color: #FFC600;
  line-height: 40px;
}
  



.emoji1 {
  max-width: 160px;
  position: absolute;
  top: 15%;
  left: 7%;
}

.emoji2 {
  max-width: 160px;
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.emoji3 {
  max-width: 160px;
  position: absolute;
  bottom: 5%;
  left: 9%;
 

}

.emoji4 {
  max-width: 160px;
  position: absolute;
  top: 15%;
  right: 7%;
  
}

.imgprofile {
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-text-profile {
  line-height: 0px;
  display: flex;
  justify-content: center;
}

.card-text-profile p {
color: #A2D6F9;
margin-left: 10px;
}

.card-text-profile span {
  color: white;
  font-size: 13px;
}



.text-clients {
  height: 100%;
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  
}



.text-description {
  color:white
}


.text {
  display: contents;
}


.card-emojis {
  height: 100%;
}



.services-title{
  margin-top: 200px;
}

.servicesicon1 {
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-left: 40px;
  max-width: 350px;
  justify-items: center;
  border-radius: 50%;
  background-color: #D1EDFF;
  background-image: url(images/service1.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 20px;
}


.servicesicon2 {
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-left: 40px;
  max-width: 350px;
  justify-items: center;
  border-radius: 50%;
  background-color: #D1EDFF;
  background-image: url(images/service2.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 20px;
}


.servicesicon3 {
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-left: 40px;
  max-width: 350px;
  justify-items: center;
  border-radius: 50%;
  background-color: #D1EDFF;
  background-image: url(images/service3.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 20px;
}


.services-title {
  margin-left: 80px;
}
.services h2 {
  margin-left: 30px;
  
}

.services p {
  margin-left: 30px;
  margin-bottom: 45px;
  margin-right: 40px;
  font-size: 17px;
}

.services span {
  font-weight: bold;
  color: #072AC8;
  margin-left: 30px;

}



.grid-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2px;
  margin-top: 70px;
  margin-left: 80px;
  margin-right: 80px;

}


.services {
  background-color: white;
  width: 350px;
  height: 350px;
}





.grid-contact {
  background-color: #FFC600;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 220px;
  height: 400px;
  position: relative;
}



.card-contact {
text-align: center;
justify-content: space-around;
display: flex;
flex-direction: column;
}

.text-questions h1 {
  font-size: 40px;
}

.card-text-questions h2 {
  font-size: 17px;
  font-weight: normal;
}

.card-email {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 50px;
}



.emailicon {
  position: absolute;
  background-image: url(images/mail.png);
  background-repeat: no-repeat;
  left: 31%;
  right: auto;
  bottom: auto;
  width: 30px;
  height: 30px;
}



.card-button {
  background-color: #072AC8;
  font-size: 17px;
  display: flex;
  justify-content: center;
  padding: 25px 40px;
}


.email-btn {
  padding: 25px 100px;
  font-size: 17px;

}

.card-button1 {
  color: white;
  
}




.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 90px
}



.circle-logo1 {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  background-image: url(images/Logo.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.options-about {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  margin-left: 150px;
  font-size: 17px;
}


.direction {
  font-size: 17px;
}

.grid-options {
  margin-right: 280px;
}





/* INDEXA HTML */


.category {
  margin-left: 80px;
  margin-right: 80px;
}


.grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  line-height: 30px;
}


.title-info h1 {
  font-size: 60px;
}

.title-info p {
  font-size: 24px;
}

.grid-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personageD {
  font-size: 24px;
}



.completedon {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

.date {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 40px;
  object-fit: initial;
}


.info p {
  font-size: 20px;
}

/* INDEX C */

.title-info-c h1 {
  font-size: 50px;
  line-height: 50px
}


/* CONTACT US HTML */


.grid-form {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 150px;
}

.contactus-title h1 {
  font-size: 60px;
}



.fullname {
  margin-top: 80px;
}

.contact-title {
  font-size: 20px;
}

.formname-btn {
  width: 100%;
  height: 70px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  padding-left: 20px;
  margin-top: 10px;
  font-size: 16px;
}


.emailphone {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.phone {
  width: 100%;
}

.email {
  width: 100%;
}

.formemail-btn {
  width: 100%;
  height: 70px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  padding-left: 20px;
  margin-top: 10px;
  font-size: 16px;
}


.formphone-btn {
  width: 100%;
  height: 70px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  padding-left: 20px;
  margin-top: 10px;
  font-size: 16px;
}



.message{
  margin-top: 20px;
}

.formmessage-btn {
  width: 100%;
  height: 180px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  padding-left: 20px;
  margin-top: 10px;
  font-size: 16px;
  
}


.form-button {
  background-color: #072AC8;
  font-size: 17px;
  display: flex;
  justify-content: center;
  padding: 25px 16px;
  width: 100%;
  margin-top: 30px;
  border: none;
}








/* RESPONSIVE */


  @media (max-width: 768px) { 

    body {
        margin-left: 0px;
    
    }

    .container {
      max-width: 768px;

    }
    
  

    .card {
       text-align: center;
       margin-top: -70px;
       
    }

    .card h1 {
      font-size: 38px;
      font-weight: bold;
   }

    .card span {
      text-align: center;
      margin-top: 20px;
      font-size: 17px;
      line-height: 25px;
      max-width: 768px;
      
   }


    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0px;
        
    }

   

    .card-btn {
      flex-direction: row-reverse;
      margin-top: 30px;
      justify-content: center;
    }

    .card-hero {
        width: 100px;
        justify-self: center;
        margin-top: 20px;
    }


    .image1 {
      display: flex;
      max-width: 600px;
      margin-top: 30px;
    }
    
   

    .image3 {
        width: 100px;
        visibility: hidden;
    }

    .image4 {
        width: 100px;
        visibility: hidden;
    }


    .logo5 {
      display: none;
    }

    .grid-container-logos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 20px;
      justify-items: center;
      grid-row-gap: 50px;

  }


  .projects-title {
    text-align: center;
    margin-left: 0px;
  }



  .grid-projects {
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

 
  
  .projects {
    background-color: white;
  }


  .project1 {
  width: 100%;
  height: 240px;
  display: flex;

  }

.text h1 {
  font-size: 40px;
  line-height: 60px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: -20px;
}

.text h2 {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 60px;
}

.grid-clients {
  height: 450px;
  margin-top: 50px;
  grid-template-columns: 1fr;
}


  .emoji1{
    display: none;
  }
  
  .emoji2{
    display: none;
  }

  .emoji3{
    display: none;
  }

  .emoji4{
    display: none;
  }



.grid-services {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 2px;
  margin-top: 70px;
  margin-left: 80px;
  margin-right: 80px;
}


.services-title {
  margin-left: 0px;
  text-align: center;
  margin-top: 40px;
}

.grid-services {
  grid-template-columns: 1fr;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.services {
  width: 100%;
  height: 320px;
  
}


.grid-contact {
  margin-top: 70px;
}


.card-email {
  display: grid;
}



.text-questions h1 {
  font-size: 30px;
}



.about-grid {
  grid-template-columns: 1fr;
  padding-top: 0px;
  margin-top: 60px;
}

.emailicon {
  position: absolute;
  background-image: url(images/mail.png);
  background-repeat: no-repeat;
  left: 31%;
  right: auto;
  bottom: auto;
  width: 30px;
  height: 30px;
  top: 51%;
}


.options-about {
  margin-left: 0px;
  grid-row-gap: 20px;
  grid-column-gap: 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.circle-logo1 {
  width: auto;
}


.grid-options {
  justify-self: center;
  margin-right: 0px;
}





}

  @media (max-width: 390px) { 

    body {
        
    
    }

    .container {
        

    }
    
  

    .card {
       text-align: center;
       margin-top: -70px;
       padding: 22px;
      
       
    }

    .card h1 {
      font-size: 24px;
      
   }
    .card span {
      text-align: center;
      margin-top: 20px;
      font-size: 15px;
      line-height: 25px;
      
   }


    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0px;
    }

    .card h1 {
        font-size: 24px;
        font-weight: bold;


    }

.card-btn {
  flex-direction: column-reverse;
  margin-top: 30px;
}

    .card-hero {
        width: 100px;
        justify-self: center;
        margin-top: 20px;
    }


    .image1 {
        width: 320px;
        
    }
    
   

    .image3 {
        width: 100px;
        visibility: hidden;
    }

    .image4 {
        width: 100px;
        visibility: hidden;
    }





  }